body{
    margin:0;
    padding:0;
    background-color: #1b1b1b;
    color: white;
    }

.container1 {
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
}

.login-text{
    font-family: 'Special Elite';
}

#login{
font-weight:bold;
font-family: 'Special Elite';

}

#logo{
font-family: 'Special Elite';
font-weight: 700;
}

#option-signup{
margin-top:20px;
}



.division {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#centered-card{
margin:0;
padding:0;
}


#hellobutton {
margin-top:20px;
    border: 0;
    background: orangered;
    width: 80px;
    height: 40px;
    box-shadow: #989898 0 0 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    justify-content: right;
}

#hellobutton:hover {
    background: darkmagenta;
}


/*Home styles*/
.container {
    max-width: 960px;
    color: white;
}

.site-header {
    background-color: #1b1b1b
}
.site-header a {
    color: #32de82;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.bgimage{
background-color: #1b1b1b;
}

#buttons{
display:flex;
}

.flex-stuff{
display:flex;
}