<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% from 'comment_macro.html' import view_comments%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container-fluid" style="background-color:#1b1b1b; height: 100%; color: white;" >
    <div class="jumbotron" style="background-color: #32de82;">
        <h1 class="text-center">Comments page</h1>
        <a href="/pitches"><button class="btn" style="margin-left:47%; background-color: black; color: #32de82;">All Pitches</button></a>
    </div>
<div class="row col-md-12">
    <div class="col-md-4">
        <div class="text-white" style="font-size: 20px; color: white;">{{wtf.quick_form(form)}}</div>
    </div>
    <div class="col-md-8">
        <h2 class="text-center text-white">All comments:</h2>
        <p >{{view_comments(comments)}}</p>
    </div>
</div>

</div>
{% endblock%}