{% extends 'base.html'%}
{% from 'view_pitches_macro.html' import view_pitches%}
{% block content%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

<div class=" container-fluid bgimage" style="background-color: #1b1b1b">
    <div class="p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-12 p-lg-3 mx-auto my-3">
            <h1 class="display-4 font-weight-normal"style="font-size:70px; color: #32de82;">PITCH YOUR PITCH!</h1>
            <p class=" lead font-weight-normal text-white"style="font-size:50px; color:#32de81; font-family: 'Special Elite'; font-style: italic;">Make your minute count.</p>
            <p style="font-size:40px;color:white">Time is limited. We wish we can have like 100minutes in an hour to accomplish our tasks and goals. <br> Unfortunately, that cannot be changed, we have 60minutes and each minute once lost cannot be retrieved. <br> How would you make your minute count?</p>
            <br>
            <div id="buttons d-block mx-auto">
                <a class="btn btn-outline-secondary" href="/new_pitch"style="font-size:40px; color: #32de81;">New Pitch</a>
                <a class="btn btn-outline-secondary" href="/pitches"style="font-size:40px; color: #32de81">View Pitches</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
</body>
</html>
