<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid" style="background-color: #32de81; height: 60px"  >
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:40px" href="/"> AMINUTE PITCHES </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
              <li style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;" ><a href="/">Home</a></li>
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                      <li style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding:15px; font-size: 20px; ">{{current_user.username}}</li>
                      <li style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;" ><a href="{{url_for('main.profile',username=current_user.username)}}">Profile</a></li>
                      <li style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;" ><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                  {% else %}
                      <li style="color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; " ><a href="{{url_for('auth.login')}}">Sign in</a></li>
                  {%endif%}
              </ul>

      </div>

  </div>
</div>

