{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <br><br><br><br><br>
    <div class="container" style="color: black; background-color: lightgreen;">
        <div class="row col-md-12">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <br><br>
                <h2 class="text-center" style="color:white; font-size: 40px; font-weight: bolder;">Add your pitch</h2>
                {{wtf.quick_form(form)}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock%}