<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% macro view_pitches(pitches) %}
<div class="container-fluid" style="background-color: #1b1b1b;" >
    <div>
        <br><br>
    </div>
    <div class="jumbotron" style="background-color: #32de82;">
        <div class="overlay">
            <h1 class="text-center" style=" color: black; font-size: 50px;">Pitches</h1>
            <a href="/new_post"><button class="btn" style= "margin-left:47%; background-color: black; color: #32de82;">New Pitch</button></a>
        </div>
    </div>
    <div class="card-columns">
        {% if pitches %}
        {% for pitch in pitches %}
        <div class="card">
            <div class="card-body">
                <p>{{pitch.post}}</p>
                <p><br> Category: {{pitch.category}}</p>
            </div>
            <div class="card-footer foot_flex d-block mx-auto">
                <a href="/comment/{{pitch.id}}"><button class="btn btn-info">Comment</button></a>
                <a href="/like/{{pitch.id}}"><button class="btn btn-success">Like {{pitch.upvote.count()}}</button></a>
                <h1>{{upvotes}}</h1>
                <a href="/dislike/{{pitch.id}}"><button class="btn btn-danger">Dislike {{pitch.downvote.count()}}</button></a>
                <h4></h4>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}
